* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.container {
  max-width: 1140px;
  min-width: 1140px;
  width: 1140px;
  margin: 0 auto;
}
.row {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.btn-primary {
  padding: 18px 25px;
  background: #f15b22;
  border: unset;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}
section {
  margin-top: 100px;
}
/* header part styles here */
.header {
  background-image: url("../images/banner/banner2.png");
  background-size: auto;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 90px 0;
}
.header-content {
  width: 500px;
  text-align: right;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  color: #151414;
}
.header-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin: 30px 0;
}
/* main part styles here */
/* my-failures section styles here */
.my-failures-content {
  padding: 0 30px;
}
.my-failures-content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-right: 63px;
}
.my-failures-content p {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin: 30px 0;
}
.my-failures-content ul li {
  margin: 10px 0;
}
.my-failures-content ul li i {
  color: #16d887;
}
.my-failures-content ul li span {
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}
/* my-plans section styles here */
.my-plans-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-bottom: 40px;
}
.my-plans .row {
  gap: 25px;
}
.plans-list {
  text-align: center;
}
.plans-list h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #151414;
  margin: 20px 0;
}
.plans-list p {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #737272;
}
/* allways-keeps section styles here */
.allways-keep {
  padding: 60px 60px 60px 60px;
  background-image: url("../images/watch.png");
  border-radius: 8px;
  position: relative;
  z-index: 1;
}
.allways-keep::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  z-index: -1;
  border-radius: 8px;

}
.allways-keep h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  z-index: 5;
}
.allways-keep .btn-primary{
    background-color: #fff;
    color: #f15b22;
    padding: 15px 20px;
    margin-top: 30px;
}
